*.sublime*

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Quartus and Verilog specific files

db/
greybox_tmp/
incremental_db/
simulation/

*.rpt
*.cdf
*.done
*.dpf
*.ddb
*.smsg
*.summary
*.bak

*.sof
*.srf
*.qsf
*.qpf
*.qws
*.sdc
*.jdi
*.qdf
*.qip
*.smf
*.ppf

PLLJ_PLLSPE_INFO.txt
